@{
    ViewData["Title"] = "Home Page";
    //Database connecten aan onderstaande checkboxes
    //ApexApi verwerken
}

<div class="text-center">
    <h1 class="display-4">Apex Team Picker</h1>
    <h3>Pick what kind of team you would like!</h3>
</div>
